@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Inter variable font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* Import Nevis from public folder */
@font-face {
  font-family: "Nevis";
  src: url("/fonts/nevis.ttf");
}

@layer base {
  html,
  body,
  #__next {
    height: 100%;
    overflow: hidden;
    /* @apply bg-dark; */
  }
  
  ::-webkit-scrollbar {
    display: none;
  }

  /* Disable touch highlight on mobile */
  * {
    -webkit-tap-highlight-color: transparent;
  }
}
