@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Nevis from public folder */
@font-face {
  font-family: "Nevis";
  font-display: swap;
  src: url("/fonts/nevis.ttf");
}

@layer base {
  html,
  body,
  #__next {
    height: 100%;
    overflow: hidden;
    /* @apply bg-dark; */
  }

  body {
    @apply bg-dark;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  /* Disable touch highlight on mobile */
  * {
    -webkit-tap-highlight-color: transparent;
  }
}
